---
permalink: /404.html
jsEntry: notfound
---
<!DOCTYPE html>
<html>
{% capture metaDesc %}您访问的资源未能找到{% endcapture %}
  {% include head.html cattitle="404" metaDesc=metaDesc notArticle=true%}
  <body>
    {% include nav.html %}
    <div id="mirrors">
      <div class="spacing hidden-xs"></div>
      <div class="container">
        <div class="row">
          <div class="not-found">
            <div class="not-found-hint">
              <div class="not-found-code">
              404 NOT FOUND
              </div>
            </div>
            <div class="not-found-text">
              您访问的文件或目录不存在，可能已被移动或尚未同步。请检查地址，或返回镜像列表继续浏览。
            </div>
            <div class="not-found-links">
              <a class="not-found-link" href="javascript:history.back()">
              {% fa_svg fas.fa-arrow-left %} 返回上一页
              </a>
              <a class="not-found-link" href="/">
              镜像列表 {% fa_svg fas.fa-arrow-right %}
              </a>
            </div>
          </div>
        </div>
      </div><!--/container -->
    </div><!--/mirrors -->
    {% include footer.html %}
  </body>
</html>
<!--
  vim: ts=2 sts=2 sw=2 noexpandtab
-->
